In [1]:
import numpy as np
import pandas as pd

In [15]:
n, p = 10, 0.2
pop1 = np.random.binomial(n, p, 1000)
pop1_df = pd.DataFrame(pop1)
pop1_df.describe()

                 0
count  1000.000000
mean      2.041000
std       1.273947
min       0.000000
25%       1.000000
50%       2.000000
75%       3.000000
max       7.000000

In [16]:
pop2 = np.random.binomial(n, p, 100)
pop2_df = pd.DataFrame(pop2)
pop2_df.describe()

                0
count  100.000000
mean     2.140000
std      1.214558
min      0.000000
25%      1.000000
50%      2.000000
75%      3.000000
max      5.000000

In [17]:
n, p = 10, 0.5
pop3 = np.random.binomial(n, p, 1000)
pop3_df = pd.DataFrame(pop3)
pop3_df.describe()

                0
count  1000.00000
mean      5.04400
std       1.56669
min       0.00000
25%       4.00000
50%       5.00000
75%       6.00000
max       9.00000

In [24]:
n, p = 10, 0.3
pop4 = np.random.binomial(n, p, 1000)
pop4_df = pd.DataFrame(pop4)
pop4_df.describe()

                 0
count  1000.000000
mean      3.060000
std       1.432638
min       0.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       7.000000